<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Edit Recipe</title>
    <!--google fonts-->
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!--jquery ui stylesheet-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <!-- site favicon -->
    <link rel="icon" href="/images/favicon.png" />

    <!--selectric stylesheet-->
    <link rel="stylesheet" href="/css/selectric.css"/>
    <!--font awesome stylesheet-->
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <!--swipe box stylesheet-->
    <link rel="stylesheet" href="/css/swipebox.css"/>
    <!-- mean menu stylesheet-->
    <link rel="stylesheet" href="/css/meanmenu.css"/>
    <!--slick slider stylesheet-->
    <link rel="stylesheet" href="/css/slick.css"/>
    <link rel="stylesheet" href="/css/slick-theme.css"/>
    <!--bootstrap stylesheets-->
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.css"/>
    <!--animate stylesheet-->
    <link rel="stylesheet" href="/css/animate.css"/>
    <!--main stylesheet-->
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>


<!--header-->
<header class="header-logo">
    <div class="header header-var1 fade-load-down">
        <div class="responsive-menu"></div>
        <div class="nav-var1">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">

                        <div class="left-nav">
                            <nav class="nav-collapse">
                                <ul class="main-menu left">
                                    <li><a href="/">Home</a>
                                    </li>
                                    <li>
                                        <a href="/recipes/allRecipes">All Recipes</a>
                                    </li>
                                    <li>
                                        <a href="/recipes/savedRecipes">Saved Recipes</a>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="logo-wrapper">
                            <a href="/"><img class='hide-sm' src="../../images/default1.png" alt="logo"/></a>

                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="right-nav">
                            <div class="wrapper-links">

                    <span class="sign-in-buttons">
                        <% if(!user){ %>
                        <a class="login" href="/login">Login</a>
                        <a class="register" href="/signup">Register</a>
                        <% } else { %>
                            <p class="login" >Hello, <%= user.userName %></p>
                        <a class="register" href="/logout">Logout</a>
                        <% } %>
                    </span>
                            </div>
                            <nav class="nav-collapse">
                                <ul class="main-menu right">
                                    <li>
                                        <a href="/recipes/myRecipes">My Recipes</a>
                                    </li>
                                    <li>
                                        <a href="#">My Account</a>
                                        <ul>
                                            <li><a href="#">Coming soon!</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="submit-recipe" href="/recipes/newRecipe">Submit recipe</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
<!--header ends-->

<!--banner-->
<div class="banner banner-blog">
    <div class="container ">
        <div class="main-heading">
            <h1>Edit Recipe</h1>
        </div>

    </div>
</div>




<div class="recipes-home-body inner-page">
<div class="container">
<div class="row">
<div class="col-md-8 col-lg-9">
    <div class="recipe-set submit-recipe-set">
        <h2>Update Recipe</h2>
        <p>Update your recipe here! Put all relevant information in their corresponding text boxes. You must be logged in to do this. </p>

        <div class="submit-recipe-form">

            <!-- Later on when I figure out what is breaking, add the ability to upload a differnet photo later using
             enctype="<%= recipe.img ? '' :   'multipart/form-data' %>" or something -->
            <form action="../updateRecipe/<%= recipe._id %>?_method=PUT"  method="POST">
                <label for="title">Recipe Title</label>
                <input type="text" name="title" id="title" required value="<%= recipe.title %>" />

                <label for="source">Source URL (optional)</label>
                <input type="text" name="source" id="source" value="<%= recipe.source %>" placeholder="If you got this recipe from a website, please put the URL here!" />
                
                <label for="shortDes">Short Description</label>
                <textarea class="short-text" name="shortDes" id="shortDes" cols="30" rows="10" required ><%= recipe.shortDes %></textarea>
                <label for="fullDes">Full Description (Optional)</label>
                <textarea name="fullDes" id="fullDes" cols="30" rows="10" value="<%= recipe.fullDes %>"></textarea>
                <fieldset class="ingredient-set">
                    <label for="ingredients">Ingredients</label>
                    <ul class="list-sortable ingredients-list">
                      
                        <% recipe.ingredients.forEach(ing => { %>
                            
                            <li>
                                <div class="add-fields">
                                    <span class="handler-list"><i class="fa fa-arrows"></i></span>
                                    <input type="text" name="ingredients" id="ingredients" value="<%= ing %>" required />
                                    <span class="del-list"><i class="fa fa-trash"></i></span>
                                </div>
                            </li>
                       <% }) %>
                        
                    </ul>
                    <span class="add-button add-ing">
                        <i class="fa fa-plus"></i>
                    </span>
                </fieldset>

                <fieldset class="ingredient-set">
                    <label for="steps">Steps</label>
                    <ul class="list-sortable steps">
                        <% recipe.directions.forEach(step => { %>
                            <li>
                                <div class="add-fields">
                                    <span class="handler-list"><i class="fa fa-arrows"></i></span>
                                    <textarea class="short-text" name="steps" id="steps" cols="30" rows="10" > <%= step %></textarea>
                                    <span class="del-list"><i class="fa fa-trash"></i></span>
                                </div>
                            </li>

                      <%  }) %>
                        
                    </ul>
                     <span class="add-button add-step">
                        <i class="fa fa-plus"></i>
                    </span>
                </fieldset>

                
                <div class="row">
                    <div class="col-sm-6">
                        <label for="yield">Yield</label>
                        <input type="text" name="yield" value="<%= recipe.yield %>" id="yield"/>
                    </div>
                    <div class="col-sm-6">
                        <label for="servings">Servings</label>
                        <input type="text" name="servings" value="<%= recipe.servings %>" id="servings"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <label for="prepTime">Preparation Time</label>
                        <input type="number" name="prepTime" value="<%= recipe.prepTime %>" id="prepTime">
                        <select name="prepTimeMHD" value="<%= recipe.prepTimeMHD %>" id="prepTimeMHD">
                            <option value="mins">mins</option>
                            <option value="hours">hours</option>
                            <option value="days">days</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <label for="cookTime">Cook Time</label>
                        <input type="number" name="cookTime"  value="<%= recipe.prepTime %>" id="cookTime">
                        <select name="cookTimeMHD" value="<%= recipe.prepTimeMHD %>" id="cookTimeMHD">
                            <option value="mins">mins</option>
                            <option value="hours">hours</option>
                            <option value="days">days</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <label for="totalTime">Total Time</label>
                        <input type="text" name="totalTime" value="<%= recipe.totalTime %>" id="totalTime"/>
                        <select name="totalTimeMHD" value="<%= recipe.totalTimeMHD %>" id="totalTimeMHD">
                            <option value="mins">mins</option>
                            <option value="hours">hours</option>
                            <option value="days">days</option>
                        </select>
                    </div>
                </div>


                
                <fieldset class="ingredient-set">
                    <label for="tips">Tips</label>
                    <ul class="list-sortable tips">
                    <% if(recipe.tips) {%>
                        <% recipe.tips.forEach(tip => { %>
                        <li>
                            <div class="add-fields">
                                <span class="handler-list"><i class="fa fa-arrows"></i></span>
                                <textarea class="short-text" name="tips" id="tips" cols="30" rows="10" ><%= tip %></textarea>
                                <span class="del-list"><i class="fa fa-trash"></i></span>
                            </div>
                        </li>
                        <% }) %>
                    <% } %>
                    </ul>
                     <span class="add-button add-tip">
                        <i class="fa fa-plus"></i>
                    </span>
                </fieldset>

                

                
                <div class="text-center">
                    <button type="submit" class="recipe-submit-btn">Submit Your Recipe</button>
                </div>
            </form>
        </div>
    </div>
</div>

</div>

</div>
</div>

<!--footer-->
<div class="animate-footer footer footer-variant-one footer-boxed">
    <div class="foonter-main">
        <div class="footer-inner">

            <div class="footer-copyright text-center wow animated flipInX">
                <p>&copy; Copyright 2022 All Rights Reserved by <a href="https://ryandabrusco.netlify.app/">Ryan DaBrusco</a></p>
            </div>
        </div>
    </div>
</div>
<!--footer ends-->

<!-- <script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/jquery.meanmenu.js"></script>
<script src="/js/jquery.selectric.min.js"></script>
<script src="/js/wow.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/jquery.swipebox.js"></script>
<script src="/js/custom.js"></script> -->

</body>
</html>