<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Our Recipe Book</title>
    <!--google fonts-->
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!--jquery ui stylesheet-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <!-- site favicon -->
    <link rel="icon" href="images/favicon.png" />

    <!-- fontawesome stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--selectric stylesheet-->
    <link rel="stylesheet" href="/css/selectric.css"/>
    <!--font awesome stylesheet-->
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <!--swipe box stylesheet-->
    <link rel="stylesheet" href="/css/swipebox.css"/>
    <!-- mean menu stylesheet-->
    <link rel="stylesheet" href="/css/meanmenu.css"/>
    <!--slick slider stylesheet-->
    <link rel="stylesheet" href="/css/slick.css"/>
    <link rel="stylesheet" href="/css/slick-theme.css"/>
    <!--bootstrap stylesheets-->
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.css"/>
    <!--animate stylesheet-->
    <link rel="stylesheet" href="/css/animate.css"/>
    <!--main stylesheet-->
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
<!--pre-loader-->
<!-- <div class="preloader">
    <div class="loadr">
        <svg  viewbox="0 0 74.6 81">
            <path d="M67.8,12.9C51.7,5.2,26.2,0.2,26.2,0.2c-10.9-1.8-9.3,11.4-9,20.2c0,0.7,0.1,1.4,0.1,2c7.8,1.5,19.7,4,29.2,7.4c11.4,4.1,9.6,8.3,9.2,16c-0.2,4.9-0.4,14,1.1,21.3c7.7,1.4,13.8,1.9,13.1-0.3c-6.3-7.2-0.1-29.6,1.8-34.2C73.3,28.7,79.3,18.4,67.8,12.9z">      </path>
            <path d="M58.9,79.5c-6.5-5.6-6.2-23.6-5.8-31.3c0.4-7.7,2.1-11.9-9.2-16c-15.3-5.5-37.3-8.8-37.3-8.8c-9.1-1.1-6.6,8.4-5.5,15.1c1.7,10,5.4,22,7.9,27.8c2.8,6.5,8.9,7.3,8.9,7.3S65.4,85.1,58.9,79.5z"></path>
        </svg>
    </div>
</div> -->
<!--pre-loader ends-->

<!--header-->
<header class="header-logo">
    <div class="header header-var1 fade-load-down">
        <div class="responsive-menu"></div>
        <div class="nav-var1">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">

                        <div class="left-nav">
                            <nav class="nav-collapse">
                                <ul class="main-menu left">
                                    <li><a href="/">Home</a>
                                    </li>
                                    <li>
                                        <a href="/recipes/allRecipes">All Recipes</a>
                                    </li>
                                    <li>
                                        <% if(!user){ %>
                                            <a href="#" onClick="alert('Please log in first')">Saved Recipes</a>
                                            <% }else { %>
                                                <a href="/recipes/savedRecipes">Saved Recipes</a>
                                            <% } %>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="logo-wrapper">
                            <a href="#"><img class="hide-sm"src="images/default1.png" alt="logo"/></a>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="right-nav">
                            <div class="wrapper-links">

                    <span class="sign-in-buttons">
                        <% if(!user){ %>
                        <a class="login" href="/login">Login</a>
                        <a class="register" href="/signup">Register</a>
                        <% } else { %>
                            <p class="login" >Hello, <%= user.userName %></p>
                        <a class="register" href="/logout">Logout</a>
                        <% } %>
                    </span>
                            </div>
                            <nav class="nav-collapse">
                                <ul class="main-menu right">
                                    <li>
                                        <% if(!user){ %>
                                        <a href="#" onClick="alert('Please log in first')">My Recipes</a>
                                        <% }else { %>
                                            <a href="/recipes/myRecipes">My Recipes</a>
                                        <% } %>
                                    </li>
                                    <li>
                                        <a href="#">My Account</a>
                                        <ul>
                                            <li><a href="#">Coming soon!</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <% if(!user){ %>
                                            <a class="submit-recipe" href="#"  onClick="alert('Please log in first')">Submit recipe</a>
                                            <% }else { %>
                                                <a class="submit-recipe" href="recipes/newRecipe">Submit recipe</a>
                                            <% } %>
                                        
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
<!--header ends-->

<div class="banner banner-blog">
    <div class="container ">
        <div class="main-heading">
            <h1>Home</h1>
        </div>

    </div>
</div>

<section>
    <div class="flex-feature">
        <a class="flex-feature-img" href="/recipes/allRecipes/<%= recipes[0]._id %>"><img class="mw" src="<%= recipes[0].img %>" alt=""></a>
        <div class="feature-right flex">
            <h2 class="recipe-title"><a href="/recipes/allRecipes/<%= recipes[0]._id %>"><%= recipes[0].title %></a></h2>
            <ul class="post-meta slider-rating">
                <li class="time"><%= recipes[0].totalTime %> <%= recipes[0].totalTimeMHD %></li>
            </ul>
            <p><%= recipes[0].shortDes %></p>
        </div>
    </div>
</section>

<!--hot recipes-->
<section class="hot-recipes-var1 common-mb">
    <div class="container">
        <div class="heading-var1 text-center wow animated flipInX">
            <h2>Hottest Recipes at Our Recipe Book</h2>
            <span class="heading-bell">
                <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                    <g>
                        <title>background</title>
                        <rect fill="none"  height="21" width="27" y="-1" x="-1"/>
                    </g>
                    <g>
                        <title>Layer 1</title>
                        <path class="icon-svg"  d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd"/>
                    </g>
                </svg>
            </span>
        </div>

        <div class="row wow animated fadeInUp flex baseline" id="hottest">
            <% for(let i = 0; i < 3; i++){ %>
                <div class="col-sm-4">
                    <div class="single-recipe text-center">
                        <div class="recipe-image">
                            <a href="/recipes/allRecipes/<%= recipes[i]._id %>">
                                <img src="<%= recipes[i].img %>" alt="image"/>
                            </a>
                        </div>
                        <div class="recipe-detail">
                            <h3><a href="/recipes/allRecipes/<%= recipes[i]._id %>"><%= recipes[i].title %></a></h3>
                                 <span class="heading-bell boxed">
                                   <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">
    
                                       <g>
                                           <title>background</title>
                                           <rect fill="none"  height="21" width="27" y="-1" x="-1"/>
                                       </g>
                                       <g>
                                           <title>Layer 1</title>
                                           <path class="icon-svg"  d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd"/>
                                       </g>
                                   </svg>
                                 </span>
                            <p>
                                <%= recipes[i].shortDes.slice(0, 60) + "..." %>
                            </p>
                        </div>
                    </div>
                </div>

            <% } %>
             

         </div>
    </div>
</section> 
<!--hot recipes ends-->




<!--footer -->
<div class="animate-footer footer footer-variant-one footer-boxed">
    <div class="foonter-main">
        <div class="footer-inner">

            <div class="footer-copyright text-center wow animated flipInX">
                <p>&copy; Copyright 2022 All Rights Reserved by <a href="https://ryandabrusco.netlify.app/">Ryan DaBrusco</a></p>
            </div>
        </div>
    </div>
</div>
<!--footer ends-->
<!-- <script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/jquery.meanmenu.js"></script>
<script src="js/jquery.selectric.min.js"></script>
<script src="js/wow.js"></script>
<script src="js/jquery.form.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.swipebox.js"></script>
<script src="js/custom.js"></script> -->
<script src="js/main.js"></script> 

</body>
</html>